@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
  border: 1px solid var(--mainColor);
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  width: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  border-color: var(--mainColor);
  background-color: rgba(
    84,
    102,
    249,
    0.3
  ); /* Color of the scrollbar thumb on hover */
}

*::-webkit-scrollbar-track {
  background-color: rgba(
    84,
    102,
    249,
    0.3
  ); /* Background color of the scrollbar track */
}

:root {
  --fontFamily: "Lato", sans-serif;
  --fontFamily2: "Open Sans", sans-serif;
  --mainColor: #5466f9;
  --optionalColor: #00a79d;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --paragraphColor: #666666;
  --fontSize: 15px;
  --transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blackColor);
  font-family: var(--fontFamily2);
  font-weight: 700;
}

a {
  transition: var(--transition);
  color: var(--blackColor);
  text-decoration: none;
  outline: 0 !important;
}

a:hover {
  color: var(--mainColor);
  text-decoration: none;
}

:focus {
  outline: 0 !important;
}

p {
  color: var(--paragraphColor);
  font-size: var(--fontSize);
  margin-bottom: 15px;
  line-height: 1.8;
}

/* Layout.module.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full viewport height */
  overflow: hidden; /* Prevent scrolling on the body */
}

.hero {
  display: flex;
  flex: 1; /* Fill remaining vertical space */
  overflow: hidden; /* Prevent scrolling on the hero */
}

.sidebar {
  width: 16rem;
  height: 100vh; /* Full viewport height for sidebar */
  background-color: rgba(84, 102, 249, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Allow scrolling within the sidebar */
  overflow-x: hidden;
  padding: 0.5rem 0;
  transition: all 500ms ease-in-out;
  position: sticky;
  top: 0; /* Stick to the top */
}

.content {
  flex: 1; /* Take up remaining space beside Sidebar */
  padding: 5rem 2rem;
  margin-left: 1.5rem;
  height: 100%;
  overflow-y: auto; /* Make content area scrollable */
}

.search {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 1px;
}

.head {
  font-size: 33px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 3px;
}

.contact_input {
  padding: 0.6rem;
  width: 50%;
  border-radius: 1px;
  font-size: 16px;
  height: 2.5rem;
  color: black;
  /* border: 1px solid #ddd; */
}

@media (max-width: 748px) {
  .search {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .content{
    
    margin:0;
  }
  .contact_input {
    width: 100%;
  }
}

/* Search Bar */
.searchBar {
  width: 80%;
}

.searchBar input {
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
}

@media screen and (max-width: 800px) {
  .searchBar {
    width: 100%;
  }
}

/* Search Layout */
.searchBar{
  width:80%;
}
.searchBar input {
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
}


input,
textarea,
select {
  font-size: 16px;
}

.searchLayout {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  width: 60%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f496ac 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #f496ac);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 800px) {
  .searchLayout {
    width: 100%;
    justify-content: space-between;
  }
}
