.header {
  height: 4.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2rem 3rem;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(84, 102, 249); /* Corrected color function */
}

.header h1 {
  letter-spacing: 0.12rem;
  font-weight: 600;
  color: white;
}

.logout {
  width: 10rem; /* New width */
  display: flex; /* New display */
  align-items: center; /* New align-items */
  border-radius: 3px;
  border: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: larger;
  background-color: rgba(84, 102, 249, 0.5); /* Corrected color function */
}

.logout p {
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

/* .hidden_log {
  display: none;
} */

.toggle,
.cross {
  display: none;
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 1.3rem;
  }
  .header {
    padding: 1rem 0.5rem;
  }
  .logout {
    width: 6rem;
  }
  .logout div {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 800px) {
  .logout {
    display: none;
  }

  .toggle,
  .cross {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
    background-color: rgba(84, 102, 249, 0.5);
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }

  .toggle > div,
  .cross > div {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .cross > div:nth-child(1) {
    transform: rotate(135deg) translateY(-8px);
  }

  .cross > div:nth-child(2) {
    display: none;
  }

  .cross > div:nth-child(3) {
    transform: rotate(-135deg) translateY(8px);
  }
}

.img {
  filter: invert(1);
  width: 40px; /* Added width */
  height: 40px; /* Added height */
}
